urn:iso:std:iso:20022:tech:xsd:pain.008.001.02 XSD "..\..\schema\pain.008.001.02.xsd"
urn:iso:std:iso:20022:tech:xsd:pain.001.001.03 XSD "..\..\schema\pain.001.001.03.xsd"
urn:iso:std:iso:20022:tech:xsd:camt.053.001.02 XSD "..\..\schema\camt.053.001.02.xsd"
	  